.footer {
  background-color: #0d0117;
  color: white;
  padding: 10px 0;
  text-align: center;
  position: relative;
  width: 100%;
  bottom: 0;
  font-size: 1rem;
}

.footer-line {
  text-decoration: none;
  background: -webkit-linear-gradient(#fa911f, #ff1d0a);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 600;
  font-size: 1rem;
  border: none;
}

@media (max-width: 768px) {
  .footer {
    padding: 15px 0;
    font-size: 0.9rem;
  }

  .footer-line {
    font-size: 0.9rem;
  }
}

@media (max-width: 480px) {
  .footer {
    padding: 20px 0;
    font-size: 0.8rem;
  }

  .footer-line {
    font-size: 0.8rem;
  }
}
