.navigation {
  background-color: #0d0117;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 1rem;
  position: relative;
  justify-content: space-between;
  padding: 0 2rem;
  flex-wrap: nowrap;
}

.nav-brand {
  background: -webkit-linear-gradient(#fa911f, #ff1d0a);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 2.7rem;
  letter-spacing: 0.5rem;
  font-weight: 800;
  text-align: left;
}

.hamburger {
  display: none;
  font-size: 2.5rem;
  color: #fff;
  cursor: pointer;
  padding: 0 1rem;
}

.link-container {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex: 1;
}

.nav-link {
  text-decoration: none;
  margin-left: 2rem;
  background: -webkit-linear-gradient(#fa911f, #ff1d0a);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 600;
  font-size: 1.5rem;
  border: none;
}

.nav-link:hover {
  border-bottom-color: #ffffff;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  transform: scale(1.05);
}

.logout-button {
  padding: 12px 24px;
  background: linear-gradient(45deg, #fa911f, #ff1d0a);
  color: #fff;
  border: none;
  border-radius: 50px;
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
  transition: transform 0.3s, box-shadow 0.3s;
  margin-left: 2rem;
}

.logout-button:hover {
  transform: translateY(-3px);
  box-shadow: 0 5px 15px rgb(255, 255, 255);
}

@media screen and (max-width: 768px) {
  .nav-brand {
    font-size: 2rem;
    margin-left: 1rem;
    text-align: center;
  }

  .link-container {
    display: none;
    width: 100%;
    flex-direction: column;
    align-items: center;
    margin-top: 1rem;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #0d0117;
    z-index: 1000;
    padding: 2rem 0;
  }

  .nav-link,
  .logout-button {
    font-size: 1.5rem;
    margin-top: 1rem;
    margin-left: 0;
    width: 100%;
    text-align: center;
  }

  .logout-button {
    width: 80%;
    max-width: 250px;
    margin-top: 1.5rem;
  }

  .hamburger {
    display: block;
    cursor: pointer;
  }

  .link-container.active {
    display: flex;
  }

  .nav-link {
    margin-top: 1.5rem;
  }
}
